<style>
    .contact {
        width: 500px;
        margin: 20px auto;
    }

    .title {
        text-align: center;
    }
    .container{
       width: 1140px;
       margin: 10px auto;
    }
    .introduce{
        font-size: 16px;
        margin: 20px;
    }
    .vanban{
        margin: 20px;
        
    }
</style>
<div class="container">
    <h2 class=" title">Điện Máy Quyết Tiến</h2>
    <div class="vanban">
        <span class="introduce">
            Được thành lập vào năm 1992, bước sơ khai của Quyết Tiến là cửa hàng kinh doanh Điện - Điện Tử -
            Điện Lạnh tại Quận 1. Với tầm nhìn chiến lược kinh doanh và những nổ lực không ngừng, Quyết Tiến
            đã trở thành một trong những thương hiệu bán lẻ số 1 tại thị trường Việt Nam. Thế mạnh làm nên Quyết Tiến
            không chỉ dừng lại ở sản phẩm chính hãng chất lượng cao, sự chuyên môn hóa trong từng bộ phận mà còn là tính
            trách nhiệm cao, sự quản lý chuyên nghiệp cùng đội ngũ kỹ thuật lành nghề, phục vụ tận tâm, uy tín, giá thành hợp
            lý đáp ứng tốt yêu cầu và nhu cầu khác nhau của khách hàng. Với phương châm "Tất cả cho khách hàng, khách hàng cho tất cả" và định hướng tiến tới trong tương lai, Quyết Tiến luôn nổ lực không ngừng để cung cấp cho khách hàng những chất lượng tốt nhất. Sự tin tưởng và ủng hộ của khách hàng trong thời gian vừa qua là nguồn động viên to lớn trên bước đường phát triển của Quyết Tiến. Chúng tôi xin hứa sẽ không ngừng hoàn thiện, phục vụ khách hàng tốt nhất để hoàn thành sứ mệnh và sự tín nhiệm của quý khách hàng.
        </span>
    </div>
    <h2 class="title">TẦM NHÌN  -  SỨ MỆNH</h2>
    <div class="vanban">
        <span>
            Kể từ khi thành lập, Quyết Tiến đã không ngừng lớn mạnh và liên tục phát triển không chỉ về quy mô mà còn hướng đến mục tiêu trở thành công ty số 1 cách biệt tại Việt Nam trong lĩnh vực bán lẻ và bán lẻ đa kênh, đem đến cho khách hàng những trải nghiệm và dịch vụ hoàn hảo nhất.
            Không chỉ có tầm nhìn xa, Quyết Tiến còn luôn mong muốn tạo được những điều kiện tối ưu ái nhất dành cho hành khách của mình như:
            Đưa thị trường bán lẻ và quyền lợi người tiêu dùng Việt Nam ngang bằng với các nước tiên tiến trên thế giới.
            Tạo môi trường phẳng, mở và gắn kết, đồng thời giải phóng tất cả năng lực, sự sáng tạo nhằm phát triển sự nghiệp cho toàn thể thành viên.
            Kết hợp hài hòa giữa phát triển nhanh và bền vững cho mỗi đồng vốn của cổ đông.

        </span>
    </div>

    <h2 class="title">THÀNH TỰU ĐÁNG TỰ HÀO</h2>
    <div class="vanban">
        <span>
            Top 500 Nhà bán lẻ hàng đầu Châu Á – Thái Bình Dương <br />
            Giải thưởng Sao vàng đất Việt<br />
            Thương hiệu Việt yêu thích nhất 4 năm liền<br />
            Trung tâm Điện máy số 1 tại Việt Nam do người tiêu dùng bình chọn<br />
            Top 500 DN tăng trưởng nhanh nhất Việt Nam (FAST500)<br />
            Top 500 doanh nghiệp lớn nhất Việt Nam<br />
            Top 10 Doanh nghiệp dịch vụ tốt nhất Việt Nam (2009, 2010)<br />
            Top nhà bán lẻ hàng đầu Việt Nam (2008)<br />
            Nhà bán lẻ hàng đầu Việt Nam (2008)<br />
            Thương hiệu Việt yêu thích nhất<br />
            9. 99% người tiêu dùng bình chọn Quyết Tiến là nhà bán lẻ hàng điện máy tiêu dùng số 1 tại Việt Nam (kết quả do Nielsen khảo sát – 2010)<br />

        </span>
    </div>
</div>